/*!CK:994169166!*//*1386569034,173213499*/

.async_throbber .async_saving{background:url(/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif) no-repeat right;padding-right:20px}
.async_throbber_left .async_saving{background:url(/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif) no-repeat left;padding-left:20px}

.fbProfileByline{width:493px;margin-top:4px;line-height:15px}
.fbProfileBylineFragment,
.fbProfileNonIconBylineFragment{margin-right:8px;color:#666}
.fbProfileBylineIcon{margin-bottom:1px;margin-top:1px;vertical-align:bottom}
.fbProfileLoggedOutByline{width:493px;margin-top:1px;line-height:14px}
.fbLongBlurb{margin-right:8px;color:#666;padding-bottom:3px}
.fbProfileBylineContextual .inferenceSource{text-align:center;margin-top:10px}
.fbProfileBylineContextual .typeahead{width:300px}
.pagesTimelineButtonPagelet{background-color:#e7ebf2;border-bottom:1px solid #c8d1e2;min-width:122px;padding:13px 0 12px 1px;top:38px;z-index:4}
.hasPagesManagerNavbar .pagesTimelineButtonPagelet{top:89px}
.fbTimelineWideRightCol .pagesTimelineButtonPagelet{min-width:244px}
body.hasVoiceBar .pagesTimelineButtonPagelet{top:64px}
body.hasVoiceBar.hasPagesManagerNavbar .pagesTimelineButtonPagelet{top:115px}
.pagesTimelineRightColumn .fbTimelineScrubber{top:87px}
.hasPagesManagerNavbar .pagesTimelineRightColumn .fbTimelineScrubber{top:138px}
body.hasVoiceBar .pagesTimelineRightColumn .fbTimelineScrubber{top:113px}
body.hasVoiceBar.hasPagesManagerNavbar .pagesTimelineRightColumn
.fbTimelineScrubber{top:164px}
#createPageButton .img{top:3px}
#createPageButton{padding-left:6px}
#profile_minifeed .reportHide{display:none}
.fbProfileStream .uiStreamMessage .passiveName{font-weight:normal}
.fbProfileStream .uiStreamMessage a.passiveName{font-weight:bold}
.sp_58twwi{background-image:url(/rsrc.php/v2/y1/r/Qv4YInuZXNa.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_ecc003{width:35px;height:35px;background-position:-85px -14px}
.sx_0b5f92{width:35px;height:35px;background-position:-121px -14px}
.sx_e639b6{width:35px;height:35px;background-position:-157px -14px}
.sx_882966{background-position:-136px -50px}
.sx_7c21a4{background-position:-153px -50px}
.sx_64bb84{background-position:-170px -50px}
.sx_ae09bc{background-position:-187px -50px}
.sx_746dbb{background-position:-204px -50px}
.sx_27ef61{height:17px;background-position:-119px -50px}
.sx_72eeb5{width:6px;height:11px;background-position:-320px -27px}
.selected .sx_72eeb5{background-position:-314px -27px}
.sx_923223{background-position:-221px -50px}
.sx_2e23af{width:10px;background-position:-255px -50px}
.sx_75d8d9{background-position:-238px -50px}
.sx_2cce7a{width:9px;background-position:-266px -50px}
.sx_0b0ae6{width:29px;height:29px;background-position:-193px -14px}
.sx_2586a7{width:84px;height:84px;background-position:0 -14px}
.sx_1b97c6{width:8px;height:13px;background-position:-305px -27px}
.sx_5ebe8b{width:11px;height:13px;background-position:-263px -27px}
.sx_d63580{width:9px;height:13px;background-position:-275px -27px}
.sx_9a80a3{width:9px;height:13px;background-position:-285px -27px}
.sx_39876b{width:9px;height:13px;background-position:-295px -27px}
.sx_adb330{width:19px;height:15px;background-position:-223px -27px}
.sx_c52346{width:19px;height:15px;background-position:-243px -27px}
.sx_c9c810{width:15px;height:21px;background-position:-85px -50px}
.sx_79fe81{width:411px;height:4px;background-position:0 -9px}
.sx_a91692{width:851px;height:4px;background-position:0 0}
.sx_090668{width:411px;height:3px;background-position:-412px -9px}
.sx_2fbc30{width:851px;height:3px;background-position:0 -5px}
.sx_8ee175{width:9px;height:5px;background-position:-255px -14px}
.selected .sx_8ee175{background-position:-246px -14px}
.sx_d1c43f{width:11px;height:12px;background-position:-234px -14px}
.selected .sx_d1c43f{background-position:-223px -14px}
.sx_d23677{width:17px;height:17px;background-position:-101px -50px}
.sp_a13o6m{background-image:url(/rsrc.php/v2/yM/r/1HqyLuL51Ly.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:32px;width:32px}
.sx_697373{width:11px;height:11px;background-position:-17px -253px}
.sx_d129f5{width:16px;height:17px;background-position:0 -211px}
.sx_2a848b{width:16px;height:16px;background-position:0 -229px}
.sx_fae843{width:12px;height:11px;background-position:-19px -198px}
.sx_80b8b0{background-position:0 0}
.sx_e11f14{width:9px;height:12px;background-position:-9px -198px}
.selected .sx_e11f14{background-position:0 -198px}
.sx_92ea07{width:8px;height:12px;background-position:-8px -246px}
.selected .sx_92ea07{background-position:0 -246px}
.sx_b2446c{background-position:0 -33px}
.sx_059b5d{background-position:0 -66px}
.sx_b687ec{background-position:0 -99px}
.sx_fcbf4c{background-position:0 -132px}
.sx_c395b5{background-position:0 -165px}
.sx_555350{width:9px;height:13px;background-position:-17px -211px}
.sx_cadc0f{width:9px;height:13px;background-position:-17px -225px}
.sx_e608a6{width:9px;height:13px;background-position:-17px -239px}
.sx_770c84{width:8px;height:8px;background-position:-8px -259px}
.selected .sx_770c84{background-position:0 -259px}
.uiStreamSecondaryTime .img{bottom:-2px;position:relative;vertical-align:top}
._55pe{display:inline-block;overflow:hidden;text-overflow:ellipsis;vertical-align:middle;white-space:nowrap}
.webkit ._55pe{vertical-align:bottom}

._4-rr{display:inline-block}
._4-rr ._4-rs + ._4-rs{margin-left:-1px}
._4-rt{position:relative;z-index:1}
._4-ru{position:relative;z-index:2}
._4-rs._42fr{position:static}
._4-rr ._4-rs{-webkit-border-radius:0}
._4-rv ._4-rs:first-child{-webkit-border-bottom-left-radius:3px;-webkit-border-top-left-radius:3px}
._4-rv ._4-rs:last-child{-webkit-border-bottom-right-radius:3px;-webkit-border-top-right-radius:3px}

.uiMoreLinkCaret{margin-left:2px;padding-bottom:2px}
.openToggler > a._4-s1, .openToggler > a._4-s1:hover, .openToggler > a._4-s1:focus, .openToggler > a._4-s1:active{background-color:#6d84b4;background-image:none;border:1px solid #3b5998;border-bottom-color:#6d84b4;-webkit-box-shadow:none;color:#fff}
.webkit ._4-s1 ._55pe{bottom:1px;position:relative}
.webkit.safari ._4-s1 ._55pe{bottom:2px}

#bootloader_szK_X { height: 42px; }
.bootloader_szK_X { display:block !important; }