/*!CK:1717899028!*//*1386568960,173203223*/

._5084{border:1px solid #bbb;height:127px;position:relative;top:1px;width:398px}
._5uoe{width:358px}
._5084._5r-i{height:189px}
._507_{background-color:#fff;border:3px solid #fff;-webkit-border-radius:2px;display:block;height:99px;width:99px}
._5080{background:rgba(0, 0, 0, .3);-webkit-border-radius:3px;bottom:13px;left:13px;margin:13px 7px -3px -3px;padding:1px;position:absolute}
._5083{overflow:hidden}
._509z ._5uek{background:url(/rsrc.php/v2/yG/r/8RHv8nDQAHL.png) repeat-x left top;height:85px}
._509z ._5uek._5r-j{background:url(/rsrc.php/v2/yG/r/8RHv8nDQAHL.png) left top;background-size:100% 100%;height:147px}
._51hs ._5uek{background-color:#f5f7f7;height:85px}
._5uek{bottom:42px;position:absolute;width:398px}
._5uoe ._5uek{width:358px}
._5uel{max-height:30px;overflow-y:hidden;position:relative}
._5uem{bottom:48px;left:128px;line-height:1.2;max-width:250px;position:absolute;z-index:1}
._509z ._5uem, ._509z ._5uem a{color:#fff}
._51hs ._5uem{color:gray}
._5uen{height:34px;margin-left:128px;margin-right:10px;overflow:hidden}
._51hs ._5uen{margin-top:88px}
._509z ._5uen{margin-top:2px}
._5uen ._508a{margin-top:6px}
._5uen ._5ueo{height:30px;overflow:hidden}
._5uen ._5081{float:right;margin-top:8px;position:static}
.appsFeedSubHeader{padding-left:23px}
div#contentCol.appFeedFilter div#rightCol{padding-top:0}
div#contentCol.appFeedFilter div#contentArea div#pagelet_home_stream{border-top:1px solid #ccc}
._50zb{border-bottom:1px solid #e6e6e6;border-top:1px solid #ccc;margin-left:-18px;padding-left:18px}
html ._50zc{margin-bottom:10px;margin-top:5px}
.friendListHeader{height:41px;padding-top:4px}
.friendListHeader .editForm, .friendListHeaderEditMode .staticName, .friendListHeaderEditMode .friendListSubHeader, .friendListManage .updateType, .updateTypesExpanded .chooseUpdateTypes{display:none}
.friendListHeaderEditMode .editForm, .updateTypesExpanded .updateType{display:block}
.friendListHeader .friendListName .nameInput{font-size:13px;width:140px}
.friendListSubHeader{padding-left:23px}
.friendListHeader .timelineUnitContainer .uiSelector{padding-left:5px;margin-left:-12px;margin-top:-3px}
.friendListHeader .fbAudienceHover{margin-left:-1px}
div#contentCol.friendListFilter{padding-top:15px !important}
div#contentCol.friendListFilter div#rightCol{padding-top:0}
.friendListFilterNullState{padding-top:40px;text-align:center}
.friendListRestrictedNullState{border-top:1px solid #ccc;font-size:12px;padding-top:40px;text-align:justify}
.notificationSelector .uiSelectorButton .img{margin-top:2px;margin-left:2px}
.friendListTypeaheadBox .plusIcon{position:absolute;top:7px;left:11px}
.friendListTypeaheadBox .friendListAddTypeahead{background-color:transparent}
.friendListAddTypeahead .textInput{padding-left:15px}
.friendListAddTypeahead .noPadding{padding-left:0}
.friendListAddTypeahead{margin-right:8px}
.friendListTypeaheadBox{position:relative}
.home #rightCol .friend_list_new_feed_header{height:34px;margin-bottom:5px;padding-top:5px;padding-right:20px}
.smartListTip{cursor:default;font-weight:normal}
.empty .fbFriendListMemberBoxFacepile,
.fbFriendListNoMembersMessage{display:none}
.empty .fbFriendListNoMembersMessage{display:block}
.fbFriendListMemberList .fbFriendListMember{height:32px;vertical-align:middle}
.listAttachment{outline:none}
.listAttachmentList{line-height:16px}
.listAttachment .listCreatorLink a{color:#6b84b4}
html .groupsJoin ._59x2, html div._59x1{-webkit-box-shadow:0 0 0 0;outline:none}
._5dn0, ._5egu{border:1px solid #e5e5e5;width:415px}
.tickerDialogContent ._5dn0, .tickerDialogContent ._5egu{width:281px}
._6xi{width:196px}
._6xj{width:129px}
._56xs._5b19 ._57_1{left:168px}
._56xs ._5b1a{height:180px}
._56xt._5b19 ._57_1{left:101px}
._56xt ._5b1a{height:175px}
._56xs._5b19 ._57_1{left:168px}
.tickerDialogContent ._5b1a{height:auto}
.tickerDialogContent ._56xs._5b19 ._57_1{left:101px}
.tickerDialogContent ._56xt._5b19 ._57_1{left:75px}
._3qya{height:130px;width:130px}
._4i1r{min-height:78px}
._3qyc{width:130px}
._51mc{margin-top:3px}
.uiStreamStoryAttachmentOnly .storyContent{margin-bottom:0}
.uiStreamStoryAttachmentOnly .storyContent{margin-left:-18px}
.homeWiderContent .uiStreamStoryAttachmentOnly .uiStreamSubstory .storyContent{margin-left:0}
.uiStreamStoryAttachmentOnly .uiStreamAttachments{margin:0}
.pymkAttachmentList > li{margin-top:2px}
.pymkAttachment{display:inline;outline:none}
.pymkAttachmentWithBorder{border-bottom:1px solid #e9e9e9;padding-bottom:15px}
.selectedStoryIndicator{background-color:#ccc;display:none;left:0;top:0;position:absolute;height:100%;width:3px}
.selectedStorySimple .selectedStoryIndicator{display:block}
#pagelet_composer .selectedStoryIndicator{left:-18px;padding-bottom:19px;top:-14px}
li.selectedStorySimple,
div.selectedStorySimple{position:relative}
.uiStream .uiStreamStory .uiStreamSubstory .uiLikePageButton{margin:0 0 6px 15px}
.uiStream .uiStreamStory .uiStreamSubstory .substoryUnderEdgeStoryLineWithLabel{margin-top:-11px}
.uiStream .uiStreamSubstories .uiLikePageButton{position:static}
.uiStream .uiStreamStory .uiStreamSubstory .uiLikePage{margin:1px 0 5px 15px}
.uiLikePage a{color:#6b84b4}
.uiLikePage .saving_elem,
.uiLikePage .async_saving .action_elem{display:none}
.uiLikePage .async_saving .saving_elem{display:inline}
.uiStream .uiStreamSubstories .uiLikePage{position:static}
.UIIntentionalStream_Error{display:none;padding-top:2px;padding-bottom:8px}
.UIIntentionalStream_HiddenInfo{float:right}
.UIIntentionalStream_AutoUpdate{margin:5px}
.UIIntentionalStream_AutoUpdateMessage,
.UIIntentionalStream_AutoUpdateControl{float:right}

#bootloader_zAEXC { height: 42px; }
.bootloader_zAEXC { display:block !important; }